.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}

.listaLi {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    
    font-family: Arial, Helvetica, sans-serif;
   
}

.enlaceSeleccion{
    color: black;
    text-decoration: none;
}

.imgArtLogo {
    width: 8rem;
}