.contenedorBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;
}

.botonDoble{
    background-color: #D3AB9E;
    border: none;
    padding: 20px 20px;
    margin: 5px 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.botonCarrito{
    background-color: #D3AB9E;
    color: white;
    font-size: 1.2rem;
    width: 10rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
